# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcuserdatad/
*.xcuserstate

# Swift Package Manager
.build/
.swiftpm/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Editors
.idea/
.vscode/
